<!DOCTYPE html>
<html>
<head>
{% load static %}
<script src="{% static "dialog/script/vue.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "dialog/css/dialog.css" %}" />
<script src="{% static "dialog/script/vega@5.js" %}"></script>
<script src="{% static "dialog/script/vega-lite@3.js" %}"></script>
<script src="{% static "dialog/script/vega-embed@4.js" %}"></script>
<script src="{% static "dialog/script/axios.min.js" %}"></script>

</head>
<body>

<div class="container" id="app">
    <img src="{% static "dialog/img/logo.svg" %}" alt="Logo" />
    <div v-for="r in records">
        <div v-if="r[0] === 'Q'"><p><b>[[ r[1] ]]</b></p></div>
        <div v-else-if="r[0] === 'A'"><p>[[ r[1] ]]</p></div>
        <div v-else v-bind:id="r[2]"></div>
    </div>
    <textarea v-model="command" rows="4" @keyup.enter.exact="sendCommand()"></textarea>
</div>
<script src="{% static "dialog/script/dialog.js" %}" data="{{ data }}"></script>

</body>
</html>